<div *ngIf="nickname && team && category" class="participant-container">
  <div class="participant-info">
    <h1>INOapp</h1>
    <div class="info-grid">
      <div class="info-item">
        <i class="pi pi-user"></i>
        <span>{{ nickname }}</span>
      </div>
      <div class="info-item">
        <i class="pi pi-users"></i>
        <span>{{ team }}</span>
      </div>
      <div class="info-item">
        <i class="pi pi-tag"></i>
        <span>{{ category }}</span>
      </div>
    </div>
  </div>

  <participant-map class="participant-map"></participant-map>

  <button 
    pButton 
    pRipple 
    type="button" 
    icon="pi pi-qrcode" 
    class="qr-scanner-button p-button-rounded"
    title="Skanuj kod QR"
    (click)="toggleScanner()">
  </button>

  <div *ngIf="isScanResultVisible" class="scan-result">
    {{scanResultMessage}}
  </div>

  <qr-scanner-dodo 
    *ngIf="showScanner" 
    (qrCodeScanned)="receiveQrData($event)" 
    (close)="toggleScanner()"
    class="scanner-overlay">
  </qr-scanner-dodo>
</div>
