<div class="container">
  <div class="top-texts" *ngIf="wasRunActivate">
    <span title="Czas biegu">
      <i class="pi pi-stopwatch"></i>
      {{raceTimeDisplay}}
    </span>
    <span *ngIf="!isRunFinished" title="Aktualny czas">
      <i class="pi pi-clock"></i>
      {{currentTime}}
    </span>
    <span title="Punkty kontrolne">
      <i class="pi pi-star"></i>
      {{checkpointsNumber}}
    </span>
    <button
      *ngIf="isRunFinished"
      pButton
      pRipple
      type="button"
      icon="pi pi-sign-out"
      class="p-button-rounded p-button-danger"
      title="Zakończ bieg"
      (click)="onNewRoute()">
    </button>
  </div>

  <participant-map
    #mapComponent
    [stationsToShow]="stationsToShow"
    [backgroundMapId]="backgroundMap?.id"
    [minZoom]="backgroundMap?.minZoom"
    [maxZoom]="backgroundMap?.maxZoom"
    [northEast]="backgroundMap?.northEast"
    [southWest]="backgroundMap?.southWest">
  </participant-map>

  <!-- Przycisk reset po lewej stronie -->
  <button
    *ngIf="!isRunFinished"
    pButton
    pRipple
    type="button"
    icon="pi pi-home"
    class="reset-view-button p-button-rounded floating-left"
    title="Powrót do centrum mapy"
    (click)="resetMapView()">
  </button>

  <!-- Przycisk QR po prawej stronie -->
  <button
    *ngIf="!isRunFinished"
    pButton
    pRipple
    type="button"
    icon="pi pi-qrcode"
    class="qr-scanner-icon p-button-rounded floating-right"
    title="Skanuj kod QR"
    (click)="toggleScanner()">
  </button>

  <qr-scanner
    *ngIf="showScanner"
    class="fullscreen-mode"
    (qrCodeScanned)="receiveScan($event)"
    (close)="toggleScanner()">
  </qr-scanner>
</div>
