<div>
  <p-table [value]="units">
    <ng-template #header>
      <tr>
        <th>
          Jednostka
          <button
            pButton
            icon="pi pi-plus"
            (click)="onAddUnitClick()">
          </button>
        </th>
        <th style="width: 5rem"></th>
      </tr>
    </ng-template>
    <ng-template #body let-unit>
      <tr>
        <td>{{ unit.name }}</td>
        <td>
          <div style="display: flex; gap: 8px; align-items: center">
            <button
              pButton pRipple
              type="button"
              icon="pi pi-pencil"
              (click)="onEditUnitClick(unit)">
            </button>
            <button
              pButton pRipple
              type="button"
              icon="pi pi-trash"
              (click)="onDeleteUnitClick(unit.id)">
            </button>
            <button
              pButton pRipple
              type="button"
              icon="pi pi-qrcode"
              (click)="onInitializeCategoryClick(unit)"
              title="Inicjuj kategorie">
            </button>
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>
  <p-dialog header="Dodaj jednostkę" [modal]="true" [(visible)]="showAddUnitForm">
    <form [formGroup]="addUnitForm" (ngSubmit)="onAddUnitFormSubmit()">
      <input type="text" pInputText formControlName="name" placeholder="Nazwa"/>
      <button pButton type="submit" [disabled]="addUnitForm.invalid">Dodaj</button>
    </form>
  </p-dialog>
  <p-dialog header="Zmień nazwe" [modal]="true" [(visible)]="showEditUnitForm">
    <form [formGroup]="editUnitForm" (ngSubmit)="onEditUnitFormSubmit()">
      <input type="text" pInputText formControlName="name" placeholder="Nazwa"/>
      <button pButton type="submit" [disabled]="editUnitForm.invalid">Dodaj</button>
    </form>
  </p-dialog>
  <p-dialog header="Inicjuj kategorie" [modal]="true" [(visible)]="showInitializeCategoryDialog" [dismissableMask]="true" [responsive]="true" [style]="{width: '90vw', maxWidth: '500px'}">
    <ng-template pTemplate="header">
      <div>
        Inicjuj kategorie dla jednostki<br>
        <strong>{{ selectedUnit?.name }}</strong>
      </div>
    </ng-template>
    <form [formGroup]="initializeCategoryForm" (ngSubmit)="onInitializeCategorySubmit()" class="dialog-form">
      <div class="form-field">
        <label for="init-categories">Wybierz kategorie</label>
        <p-multiselect 
          id="init-categories"
          [options]="categories" 
          formControlName="categories" 
          placeholder="Kategorie" 
          optionLabel="name" 
          display="chip">
        </p-multiselect>
      </div>
      <button 
        pButton 
        type="submit" 
        icon="pi pi-qrcode"
        label="Generuj kody QR"
        [disabled]="initializeCategoryForm.invalid || !initializeCategoryForm.value.categories?.length">
      </button>
    </form>
  </p-dialog>
</div>

