.category-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  min-width: 300px;
  position: relative;
}

.category-form input,
.category-form p-dropdown {
  width: 100%;
}

.category-form p-dropdown {
  position: relative;
}

.category-form button {
  margin-top: 0.5rem;
}

