<div class="container">
  <ngx-scanner-qrcode #action="scanner" [config]="config" (event)="onEvent($event, action)"></ngx-scanner-qrcode>
  <p *ngIf="action.isLoading">⌛ Loading...</p>

  <button pButton pRipple class="btn" [class.btn-info]="!action.isStart" [class.btn-warning]="action.isStart"
          [disabled]="action.isLoading" icon="pi pi-camera" (click)="handle(action, action.isStart ? 'stop' : 'start')">
  </button>

  <button pButton pRipple class="btn" [class.btn-info]="!action.isStart" [class.btn-warning]="action.isStart"
          [disabled]="!action.isStart" icon="pi pi-bolt" (click)="action.isTorch = !action.isTorch; handle(action, 'torcher')">
  </button>

  <button pButton pRipple type="button" icon="pi pi-times" (click)="closeScanner()">
  </button>
  <br>

  <!-- dodo tylko do testów -->
  <input #file type="file" (change)="onSelects(file.files)" [multiple]="'multiple'" [accept]="'.jpg, .png, .gif, .jpeg'"
         class="btn btn-success my-2"/>

  <div *ngFor="let item of qrCodeResult">
    <ngx-scanner-qrcode #actionFile="scanner" [src]="item.url" [config]="config"
                        (event)="onEvent($event)"></ngx-scanner-qrcode>

  </div>
</div>
