:host {
  display: block;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
}

router-outlet {
  display: none;
}

:host ::ng-deep router-outlet + * {
  display: block;
  width: 100%;
  height: 100%;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}